<div class="listado container">
    <br>
    <table class="table">
        <thead >
          <tr class="titulosTabla">
            <th class="titulosTabla" scope="col">ID</th>
            <th class="titulosTabla" scope="col">PLAN</th>
            <th class="titulosTabla alignCenter" scope="col">TNA</th>
            <th class="titulosTabla alignCenter" scope="col">DURACION MINIMA CUOTAS</th>
            <th class="titulosTabla alignCenter" scope="col">vigencia</th>
          </tr>
        </thead>
        <tbody >
          

         <tr *ngFor="let plan of planesService.planesList" class="contenidoTabla">
            <th scope="row"> {{plan.id}} </th>
            <td class="nombreCompleto"> {{plan.nombre}}</td>
            <td class="alignCenter">{{plan.tna}} %</td>
            <td class="alignCenter">{{plan.duracionMinimaCuotas}} meses </td>
            <td class="alignCenter">{{plan.vigencia}} </td>
         </tr>
          

        </tbody>

      </table>
</div>
