<div class=" container container-fluid buscador">
    <h2 class="titulosTabla">Búsqueda clientes</h2>

    <div class="form-group titulosTabla">
        <input
         type="text"
         class="forms-control inputBuscar "
         placeholder="Buscar"
         [(ngModel)]="filterPost "
         
         
         name="filterPost">
    </div>
</div>




<div class="mt-3 container container-fluid">
    
    
    <table class="table table-bordered" *ngIf="personaServe.cantidad() > 0">
        <tr class="titulosTabla" >
           
            <th >id</th>
            <th >Nombre Completo</th>
            <th class="alignCenter">cuit</th>
            <th class="alignCenter">Fecha de nacimiento</th>
            <th class="alignCenter">activo</th>
            <th></th>
        </tr>
        <tr  *ngFor="let item of personaServe.plantel | filter:filterPost | paginate:{ itemsPerPage:20,currentPage:page }" class="contenidoTabla" >
            <td>{{item.id}}</td>
            <td class="nombreCompleto">{{item.nombre}}</td>
            <td class="alignCenter">{{item.cuit}}</td>
            <td class="alignCenter">{{item.fechaNacimiento |date:'dd/MM/yyyy'}}</td>
            <td class="alignCenter">{{item.activo}}</td>
            <td>
              
                <div class="botonesCliente">
                    <div><button (click)="borrarPersona(item)" class="btn btn-danger btnCliente">deshabilitar</button></div>
                    <div><button  class="btn btn-success btnCliente" (click)="editar(item.id)">editar</button></div>
                </div>
    
            
            </td>
        </tr>
    </table>

    <div class="pageCmd">

        <pagination-controls (pageChange)="page=$event" previousLabel="Anterior" nextLabel="Siguiente"> </pagination-controls>
       
       
    </div>


    